services:
  backend:
    build:
      context: ./backend
    ports:
      - "5000:5000"
  frontend:
    build:
      context: ./frontend/numerical-methods-frontend
      args:
        VITE_API_BASE_URL: http://backend:5000
    ports:
      - "4173:4173"
    depends_on:
      - backend
